<div class="signup">
    <div class="signup-connect">
      <h1>Create An Account</h1>
      <a href="#" class="btn btn-social btn-facebook">
        <i class="fab fa-facebook" aria-hidden="true"></i>
        Sign in with Facebook
      </a>
      <a href="#" class="btn btn-social btn-twitter">
        <i class="fab fa-twitter" aria-hidden="true"></i>
        Sign in with Twitter
      </a>
      <a href="#" class="btn btn-social btn-google">
        <i class="fab fa-google-plus" aria-hidden="true"></i>
        Sign in with Google
      </a>
      <a href="#" class="btn btn-social btn-behance">
        <i class="fab fa-behance" aria-hidden="true"></i>
        Sign in with Behance
      </a>
    </div>
    <div class="signup-classic">
      <h2>Sign Up Form</h2>
      <form class="form">
        <fieldset class="username">
          <input type="text" placeholder="username">
        </fieldset>
        <fieldset class="email">
          <input type="email" placeholder="email">
        </fieldset>
        <fieldset class="password">
          <input type="password" placeholder="password">
        </fieldset>
        <button type="submit" class="btn">Sign up</button>
      </form>
      <p>Already have an Account? <a routerLink="/login" style="color: blue; font-size: large;">Login</a></p>
    </div>
  </div>